.main {
  width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: row;
  .features {
    width: 20%;
    height: 100%;
    background-color: aquamarine;
  }

  .diagram {
    width: 100%;
    background-color: beige;
  }
}

.class-list {
  display: grid;
  width: 100%;
  min-height: 90%;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-column: auto;
  background-color: aqua;
  padding: 20px;
  gap: 0.5rem;
  .class {
    width: 490px;
    min-height: 200px;
    background-color: #f0f0f0;

    .class-name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;

      .item {
        padding: 10px;
        width: 80px;
        background-color: aquamarine;
      }
    }
  }
}

.attribute-container {
  display: flex;
  gap: 8px; /* Spacing between rows and columns */
  flex-direction: column;
}

.attribute-header,
.attribute-row {
  display: flex; /* Makes child elements part of the grid */
  flex-direction: row;
  width: 100%;
  .row-name {
    width: 150px;
  }
  .row-type {
    width: 110px;
  }
}

.attribute-body {
  background-color: #f5f5f5; /* Header background color */
  padding: 10px 5px 10px 5px;
}

.attribute-header > div,
.attribute-row > div {
  padding: 8px;
  border: 1px solid #ddd; /* Optional: Add borders for a table-like appearance */
}

.attribute-header > div {
  font-weight: bold;
  background-color: #f5f5f5; /* Header background color */
}

.row-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.checkbox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
