<div class="main">
  <div class="diagram">
    <button nz-button nzType="primary" (click)="addClass()">
      Ajouter un class
    </button>
    <div class="class-list">
      @for (class of classList; track $index; let classIndex= $index) {
      <div class="class">
        <div class="class-name">
          <input
            type="text"
            nz-input
            placeholder="Name"
            [(ngModel)]="class.name"
            nzFormatter="uppercase"
          />
          <button nz-button nzType="primary" (click)="addAttribute($index)">
            <nz-icon nzType="plus" nzTheme="outline"></nz-icon>
          </button>

          <nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="removeClass($index)"
          ></nz-icon>
        </div>

        <nz-table
          #basicTable
          [nzData]="class.attributes"
          nzShowPagination="false"
        >
          <tbody>
            @for (data of basicTable.data; track data) {
            <tr>
              <td>{{ data.name }}</td>
              <td>{{ data.type }} ( {{ data.length }})</td>
              <td>
                @if (data.isPrimary) {
                <nz-icon
                  nzType="key"
                  nzTheme="outline"
                  style="color: darkorange"
                />}@else { <nz-icon nzType="stop" nzTheme="outline" />}
              </td>
              <td>
                @if (data.isIndexed) {
                <nz-icon nzType="node-index" nzTheme="outline" />
                }@else {
                <nz-icon nzType="stop" nzTheme="outline" />}
              </td>
              <td>
                @if (data.isForeign) {
                <nz-icon
                  nzType="key"
                  nzTheme="outline"
                  style="color: gray"
                />}@else { <nz-icon nzType="stop" nzTheme="outline" />}
              </td>

              <td>
                <nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  (click)="deleteAttribute($index, classIndex)"
                />
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
      </div>
      }
    </div>
  </div>
</div>

<ng-template #templateKyes>
  <nz-icon nzType="key" nzTheme="outline" />
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="The first Modal"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <nz-form-item>
      <nz-form-label>Class Name</nz-form-label>
      <nz-form-control nzErrorTip="Please input your classname!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input placeholder="Name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Attributes</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="text" nz-input placeholder="Attributes" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</nz-modal>
